name: Rust

on:
  push:
    branches: [ "main", "dev" ]
  pull_request:
    branches: [ "main" ]

env:
  CARGO_TERM_COLOR: always

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4

    - name: Install build essentials (for make/gcc)
      run: sudo apt-get update && sudo apt-get install -y build-essential

    - name: Build C runtime
      working-directory: ./runtime-c
      run: make

    - name: Build Rust project
      run: cargo build --verbose

    - name: Run tests
      run: cargo test --features "runtime_checks" -- --test-threads=1
